* { box-sizing: border-box;}

:root {
    --fontFamily: 'Zalando Sans SemiExpanded','Courier New', Courier, monospace;
    --color1: #fefefe;
    --color2: rgb(219, 223, 255);
    --color3: white;
    --color4: rgb(0, 43, 45);
    --color5: rgb(62, 25, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color1);
}

.footer {
    padding: 20px 0;
}

.header {
    padding: 15px 0;
    background-color: var(--color2);
}

.h1-heading {
    text-shadow: 2px 2px 2px var(--color3);
    font-size: 48px;
    font-family: var(--fontFamily);
}

.main {
    margin: 20px 0;
    padding: 15px 0;
}

.top-link {
    color: var(--color4);
}

.top-link:hover {
    color: var(--color5);
}