<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center">
            <img src="https://preview.redd.it/crashed-ferrari-enzo-in-the-netherlands-v0-iceyf05mkgc81.jpg?width=640&crop=smart&auto=webp&s=a3a4c03bde7689f66f4b22eb2d0ff22023ff3800" alt="This page does not exist.">
        </h2>
    </div>
</main>

<%- include('../partials/footer') %>